/* generales */
p{
    text-align: justify;
}

.letrasInicio{
    background-color: rgba(90, 120, 211, 0.6);
}

#content {
    margin-bottom: 25px;
    width: 1200px;
}
/* pagina principal */


#carrusel {
    float:left;
    width: 600px;
    overflow:hidden;
    height:203px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
}

#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}

#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}

.carrusel {
    width: 4000px;
    left:0px;
    position:absolute;
    z-index:0;
}

.carrusel>div {
    float: left;
    height: 203px;
    margin-right: 5px;
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrusel img {
    cursor:pointer;
   
}

.product h6{
    position: absolute;
    bottom: 10px;

} 

.product {
    border:#CCCCCC 1px solid;
}

.showcase{
    display: block;
    box-sizing: border-box;

}

.container-fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.lead{
    font-size: 1.25rem;
}



.grilla{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16% 16% 16% 16% 16% 16% 16%;
}

.beneficio1{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 40px;
}
.beneficio2{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 40px;
}
.beneficio3{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 40px;
}
.beneficio4{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 40px;
}
.beneficio5{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-bottom: 40px;
}
.beneficio6{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-bottom: 40px;
}
.beneficio7{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-bottom: 40px;
}
.beneficio8{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-bottom: 40px;
}
.beneficio9{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-bottom: 40px;
}
.beneficio10{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-bottom: 40px;
}
.beneficio11{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    padding-bottom: 40px;
}
.beneficio12{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    padding-bottom: 40px;
}
.beneficio13{
    text-align: center;
    font-weight: bold ;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    padding-bottom: 40px;
}

.imagen-responsiva{
    display:inline-flex;
    max-width: 100%;
    height: auto;
    margin: 20px;
    
  }

#wapp{
    position: fixed;
    right: 20px;
    bottom: 100px;
}

@media only screen and (max-width: 600px)
{
    #grillacuerpo {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20%;
    }
    .containerCuerpoTitulo{

        margin-top: 5%; 
        margin-bottom: 5%; 

    }
}


/* layout para computadores */

@media only screen and  (min-width: 768px)
{

   
}

